<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roomgenius.furniture_recommendation.mapper.AdminProductMapper">

    <!-- ========================= -->
    <!-- 상품 전체 조회 (이미지 포함) -->
    <!-- ========================= -->
    <select id="selectAllProducts" resultType="com.roomgenius.furniture_recommendation.entity.ProductVO" >
        SELECT
        p.product_id,
        p.category_id,
        p.product_name,
        p.original_price,
        p.sale_price,
        p.stock,
        p.description,
        p.brand,
        p.created_date,
        p.updated_date,
        f.save_dir,
        f.file_name
        FROM Product p
        LEFT JOIN File f
        ON p.product_id = f.product_id
        AND f.file_type = 0
        ORDER BY p.product_id DESC
    </select>



    <!-- ========================= -->
    <!-- 필터 검색 -->
    <!-- ========================= -->
    <select id="selectFilteredProducts" resultType="com.roomgenius.furniture_recommendation.entity.ProductVO">
        SELECT
        p.product_id,
        p.category_id,
        p.product_name,
        p.original_price,
        p.sale_price,
        p.stock,
        p.description,
        p.brand,
        p.created_date,
        p.updated_date,
        f.save_dir,
        f.file_name

        FROM Product p
        LEFT JOIN File f
        ON p.product_id = f.product_id
        AND f.file_type = 0

        WHERE 1=1
        <if test="categoryId != null and categoryId != ''">
            AND p.category_id = #{categoryId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND p.product_name LIKE CONCAT('%', #{keyword}, '%')
        </if>

        <choose>
            <when test="sort == 'oldest'">
                ORDER BY p.product_id ASC
            </when>
            <when test="sort == 'high-price'">
                ORDER BY p.sale_price DESC
            </when>
            <when test="sort == 'low-price'">
                ORDER BY p.sale_price ASC
            </when>
            <otherwise>
                ORDER BY p.product_id DESC
            </otherwise>
        </choose>
    </select>


    <!-- ========================= -->
    <!-- 단일 상품 조회 (이미지 포함) -->
    <!-- ========================= -->
    <select id="getProductById" resultType="com.roomgenius.furniture_recommendation.entity.ProductVO">
        SELECT
        p.product_id,
        p.category_id,
        p.product_name,
        p.original_price,
        p.sale_price,
        p.stock,
        p.description,
        p.brand,
        p.created_date,
        p.updated_date,

        --  파일
        f.save_dir,
        f.file_name,

        --  카테고리 JOIN (중분류 + 대분류)
        c.middle_category AS middleCategory,
        c.major_category AS majorCategory

        FROM Product p

        LEFT JOIN File f
        ON p.product_id = f.product_id
        AND f.file_type = 0

        LEFT JOIN Category c
        ON p.category_id = c.category_id

        WHERE p.product_id = #{productId}
    </select>




    <!-- ========================= -->
    <!-- 상품 등록 -->
    <!-- ========================= -->
    <insert id="insertProduct" parameterType="com.roomgenius.furniture_recommendation.entity.ProductDTO"  useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO Product (
        category_id,
        product_name,
        original_price,
        sale_price,
        stock,
        description,
        brand
        )
        VALUES (
        #{categoryId},
        #{productName},
        #{originalPrice},
        #{salePrice},
        #{stock},
        #{description},
        #{brand}
        )
    </insert>


    <!-- ========================= -->
    <!-- 상품 수정 -->
    <!-- ========================= -->
    <update id="updateProduct" parameterType="com.roomgenius.furniture_recommendation.entity.ProductDTO">
        UPDATE Product
        SET
        category_id = #{categoryId},
        product_name = #{productName},
        original_price = #{originalPrice},
        sale_price = #{salePrice},
        stock = #{stock},
        description = #{description},
        brand = #{brand}
        WHERE product_id = #{productId}
    </update>


    <!-- ========================= -->
    <!-- 상품 삭제 -->
    <!-- ========================= -->
    <delete id="deleteProduct" parameterType="int">
        DELETE FROM Product WHERE product_id = #{productId}
    </delete>

    <insert id="insertFile" parameterType="com.roomgenius.furniture_recommendation.entity.FileVO">
        INSERT INTO file(
        uuid,
        product_id,
        save_dir,
        file_name,
        file_type,
        file_size
        ) VALUES (
        #{uuid},
        #{productId},
        #{saveDir},
        #{fileName},
        #{fileType},
        #{fileSize}
        )
    </insert>

    <select id="getLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID();
    </select>



</mapper>
